<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/admin-layout/header') %>

    <title>Detail Konfirmasi Event</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../layout/admin-layout/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Detail Konfirmasi Event</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active">
                    Detail Konfirmasi Event
                  </li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <!-- /.container-fluid -->
          <div class="container-fluid">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fa-regular fa-calendar"></i>
                  Detail Konfirmasi Event
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <label for="posterEvent">Poster Event</label>
                  <div class="profile-pic-div">
                    <img
                      src="/img/poster.png"
                      id="photo"
                      class="img-fluid d-block mx-auto"
                    />
                    <input type="file" id="file" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="kategori">Kategori Event</label>
                  <select
                    id="kategori"
                    class="custom-select form-control"
                    required
                    disabled
                  >
                    <option disabled>Pilih Kategori</option>
                    <option selected>Lomba</option>
                    <option>Event</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="namaEvent">Nama Event</label>
                  <input
                    type="text"
                    id="namaEvent"
                    class="form-control"
                    value="Jakreatifest"
                    required
                    disabled
                  />
                </div>
                <div class="form-group">
                  <label for="deskripsiEvent">Deskripsi Event</label>
                  <textarea
                    id="deskripsiEvent"
                    class="form-control"
                    required
                    rows="4"
                    disabled
                  >
      ini lomba asik asikk</textarea
                  >
                </div>
                <div class="form-group">
                  <label for="benefitEvent">Benefit Event</label>
                  <textarea
                    id="benefitEvent"
                    class="form-control"
                    required
                    rows="4"
                    disabled
                  >
    1. syahadat
    2. sholat</textarea
                  >
                </div>
                <div class="form-group">
                  <label for="tanggalEvent">Tanggal Event</label>
                  <input
                    type="date"
                    id="tanggalEvent"
                    class="form-control"
                    value="2018-07-22"
                    required
                    disabled
                  />
                </div>

                <div class="form-group" id="containerAddPrasyarat">
                  <label for="namaPrasyarat 1">Nama Prasyarat 1</label>
                  <input
                    type="text"
                    id="namaPrasyarat 1"
                    class="form-control"
                    value="Upload ig"
                    required
                    disabled
                  />
                </div>
                <div class="form-group" id="containerAddPrasyarat">
                  <label for="namaPrasyarat 2">Nama Prasyarat 2</label>
                  <input
                    type="text"
                    id="namaPrasyarat 2"
                    class="form-control"
                    value="follow wa"
                    required
                    disabled
                  />
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <a class="btn-default btn" href="/event-manajement">Kembali</a>
                <button
                  type="submit"
                  class="btn-danger btn"
                  data-toggle="modal"
                  data-target="#deleteModal-eventTdkKonfirmasi"
                >
                  Hapus
                </button>
                <button
                  type="submit"
                  class="btn-success btn"
                  data-toggle="modal"
                  data-target="#konfirmasiModal-event"
                >
                  Konfirmasi
                </button>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- Modal Delete Event no konfirmasi-->
      <div
        class="fade modal"
        id="deleteModal-eventTdkKonfirmasi"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deletemodal-eventTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Hapus Event
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Apakah Kamu Yakin ingin Menghapus Event ini?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn-secondary btn"
                data-dismiss="modal"
              >
                Batal
              </button>
              <button type="button" class="btn-danger btn">Hapus</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Konfirmasi Event-->
      <div
        class="fade modal"
        id="konfirmasiModal-event"
        tabindex="-1"
        role="dialog"
        aria-labelledby="konfirmasiModal-eventTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Konfirmasi Event
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Apakah Kamu Yakin ingin Konfirmasi Event ini?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn-secondary btn"
                data-dismiss="modal"
              >
                Batal
              </button>
              <button type="button" class="btn-success btn">Konfirmasi</button>
            </div>
          </div>
        </div>
      </div>
      <%- include('../layout/admin-layout/footer') %>
    </div>
    <%- include('../layout/admin-layout/script') %>
  </body>
</html>
