<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/admin-layout/header') %>

    <title>Daftar Participants</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../layout/admin-layout/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Daftar Participants</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active">Daftar Participants</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <!-- /.container-fluid -->
          <div class="container-fluid">
            <div class="card card-outline card-primary">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fa-solid fa-users"></i>
                  Daftar Participants
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table-bordered table-striped table" id="example1">
                  <thead>
                    <tr>
                      <th>Nama Lengkap</th>
                      <th>Email</th>
                      <th>No. Handphone</th>
                      <th>Status</th>
                      <th>Gender</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td
                        class="align-items-center d-flex justify-content-start user-block border-0"
                      >
                        <img
                          class="img-circle img-bordered-sm"
                          src="/img/Poto PP.png"
                          alt="user image"
                        />
                        <span class="username">Jonathan Burke Jr. </span>
                      </td>
                      <td>zydane@gmail.com</td>
                      <td>80808080</td>
                      <td>Umum</td>
                      <td>Laki - Laki</td>
                      <td>
                        <a
                          class="btn-danger btn-sm btn text-white"
                          data-toggle="modal"
                          data-target="#deletemodal-participants"
                        >
                          <i class="fas fa-trash"> </i>
                          Hapus
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- Modal Delete-->
                <div
                  class="fade modal"
                  id="deletemodal-participants"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="deletemodal-participantsTitle"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                          Hapus Participants
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Apakah Kamu Yakin ingin Menghapus Participants ini?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn-secondary btn"
                          data-dismiss="modal"
                        >
                          Batal
                        </button>
                        <button type="button" class="btn-danger btn">
                          Hapus
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>

      <%- include('../layout/admin-layout/footer') %>
    </div>
    <%- include('../layout/admin-layout/script') %>
  </body>
</html>
