<!-- Back to top button -->
<button
  type="button"
  data-mdb-ripple="true"
  data-mdb-ripple-color="light"
  class="bottom-5 right-5 inline-block rounded-full bg-teal-900 p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-200 hover:shadow-lg focus:bg-primary-200 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-300 active:shadow-lg"
  id="btn-back-to-top"
>
  <svg
    aria-hidden="true"
    focusable="false"
    data-prefix="fas"
    class="h-4 w-4"
    role="img"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 448 512"
  >
    <path
      fill="currentColor"
      d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
    ></path>
  </svg>
</button>

<div class="sizing-footer footer-style">
  <div class="items-center justify-between text-center text-sm md:flex">
    <p class="text-lg font-extrabold">© 2022 Crystal Team</p>
    <div class="mt-2 flex items-center justify-center gap-2 md:mt-0">
      <p class="">Ikuti Sosial Media Kami :</p>
      <a href="" class="">
        <img class="h-9" src="/icon/logo-ig.svg" alt="follow instagram" />
      </a>
      <a href="" class="">
        <img class="h-9" src="/icon/logo-twt.svg" alt="follow twitter" />
      </a>
    </div>
  </div>
</div>
<!-- Jquery -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<!-- tw elements -->
<script src="/js/tw_elements.min.js"></script>

<script src="/js/base.min.js" type="module"></script>
