<div
  class="bg-gradient-2 absolute bottom-0 right-0 left-0 h-40 items-center lg:static lg:flex lg:h-full"
>
  <div class="py-8 px-8 text-center sm:py-12 lg:my-auto">
    <h5 class="mb-2 text-xl font-bold uppercase text-light-100 lg:text-4xl">
      Discover events that match your passions
    </h5>
    <p class="uppercase tracking-widest text-light-200 lg:text-2xl">
      and make your event globally
    </p>
  </div>
</div>
