<div
  class="h-50 fixed top-0 right-0 left-0 z-[100] w-96 bg-white py-4 px-8 sm:w-full lg:w-3/5 lg:bg-none"
  style="margin: 0"
>
  <img src="/img/logo-biru.png" alt="Logo Lockét" class="h-16" />
</div>
