<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/event-organizer/header') %>

    <title>Event Saya</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../layout/event-organizer/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Detail Event</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item">Event Saya</li>
                  <li class="breadcrumb-item active">Detail Event</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <!-- /.container-fluid -->
          <div class="container-fluid">
            <div class="card card-primary card-outline card-tabs">
              <div class="card-header border-bottom-0 p-0 pt-1">
                <ul
                  class="nav nav-tabs"
                  id="custom-tabs-three-tab"
                  role="tablist"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="custom-tabs-three-detail-tab"
                      data-toggle="pill"
                      href="#custom-tabs-three-home"
                      role="tab"
                      aria-controls="custom-tabs-three-home"
                      aria-selected="true"
                      >Detail Event</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="custom-tabs-three-peserta-tab"
                      data-toggle="pill"
                      href="#custom-tabs-three-profile"
                      role="tab"
                      aria-controls="custom-tabs-three-profile"
                      aria-selected="false"
                      >Detail Peserta</a
                    >
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                  <div
                    class="fade tab-pane active show"
                    id="custom-tabs-three-home"
                    role="tabpanel"
                    aria-labelledby="custom-tabs-three-detail-tab"
                  >
                    <div class="form-group">
                      <label for="posterEvent">Poster Event</label>
                      <div class="profile-pic-div">
                        <img
                          src="/img/poster.png"
                          id="photo"
                          class="img-fluid d-block mx-auto"
                        />
                        <input type="file" id="file" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="kategori">Kategori Event</label>
                      <select
                        id="kategori"
                        class="custom-select form-control"
                        required
                        disabled
                      >
                        <option disabled>Pilih Kategori</option>
                        <option selected>Lomba</option>
                        <option>Event</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="namaEvent">Nama Event</label>
                      <input
                        type="text"
                        id="namaEvent"
                        class="form-control"
                        value="Jakreatifest"
                        required
                        disabled
                      />
                    </div>
                    <div class="form-group">
                      <label for="deskripsiEvent">Deskripsi Event</label>
                      <textarea
                        id="deskripsiEvent"
                        class="form-control"
                        required
                        rows="4"
                        disabled
                      >
    ini lomba asik asikk</textarea
                      >
                    </div>
                    <div class="form-group">
                      <label for="benefitEvent">Benefit Event</label>
                      <textarea
                        id="benefitEvent"
                        class="form-control"
                        required
                        rows="4"
                        disabled
                      >
  1. syahadat
  2. sholat</textarea
                      >
                    </div>
                    <div class="form-group">
                      <label for="tanggalEvent">Tanggal Event</label>
                      <input
                        type="date"
                        id="tanggalEvent"
                        class="form-control"
                        value="2018-07-22"
                        required
                        disabled
                      />
                    </div>

                    <div class="form-group" id="containerAddPrasyarat">
                      <label for="namaPrasyarat 1">Nama Prasyarat 1</label>
                      <input
                        type="text"
                        id="namaPrasyarat 1"
                        class="form-control"
                        value="Upload ig"
                        required
                        disabled
                      />
                    </div>
                    <div class="form-group" id="containerAddPrasyarat">
                      <label for="namaPrasyarat 2">Nama Prasyarat 2</label>
                      <input
                        type="text"
                        id="namaPrasyarat 2"
                        class="form-control"
                        value="follow wa"
                        required
                        disabled
                      />
                    </div>
                  </div>

                  <div
                    class="fade tab-pane"
                    id="custom-tabs-three-profile"
                    role="tabpanel"
                    aria-labelledby="custom-tabs-three-peserta-tab"
                  >
                    <table
                      id="example1"
                      class="table-bordered table-striped table"
                    >
                      <thead>
                        <tr>
                          <th>Nama Peserta</th>
                          <th>No. Handphone</th>
                          <th>Tanggal Lahir</th>
                          <th>Gender</th>
                          <th>Status</th>
                          <th>Prasyarat Event</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Muhammad Zydane</td>
                          <td>080808080808</td>
                          <td>2022-04-12</td>
                          <td>Laki-Laki</td>
                          <td>Mahasiswa</td>
                          <td>
                            <a
                              type="button"
                              class="btn-block btn-light btn-sm btn border"
                              data-toggle="modal"
                              data-target="#modalPrasyarat"
                            >
                              Prasyarat 1
                            </a>
                            <a
                              type="button"
                              class="btn-block btn-light btn-sm btn border"
                              data-toggle="modal"
                              data-target="#modalPrasyarat"
                            >
                              Prasyarat 2
                            </a>
                            <a
                              type="button"
                              class="btn-block btn-light btn-sm btn border"
                              data-toggle="modal"
                              data-target="#modalPrasyarat"
                            >
                              Prasyarat 3
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <a
                  class="btn-default btn"
                  data-toggle="modal"
                  data-target="#cancelModal-event"
                  >Kembali</a
                >
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>

      <!-- Modal Prasyarat-->
      <div
        class="fade modal"
        id="modalPrasyarat"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modalPrasyaratTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <img
                id="myImg"
                src="/img/poster.png"
                alt="Poster"
                class="d-block w-100 mx-auto rounded"
                style="max-width: 450px"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal cancel-->
      <div
        class="fade modal"
        id="cancelModal-event"
        tabindex="-1"
        role="dialog"
        aria-labelledby="cancelModal-eventTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Cancel Edit Event
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Apakah Kamu Yakin ingin Menghapus Perubahan ini?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn-secondary btn"
                data-dismiss="modal"
              >
                Batal
              </button>
              <a type="button" href="/event-eo" class="btn-danger btn">Yakin</a>
            </div>
          </div>
        </div>
      </div>
      <%- include('../layout/event-organizer/footer') %>
    </div>
    <%- include('../layout/event-organizer/script') %>
  </body>
</html>
