<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/header') %>
    <title>Lupa Password</title>
  </head>
  <body class="debug-screens">
    <%- include('layout/login-header') %>

    <div
      class="font-montserrat relative grid h-screen grid-cols-1 items-center justify-center lg:grid-cols-3"
    >
      <div class="sizing-content col-span-2 mb-28 lg:mb-0">
        <!-- header -->
        <div class="mb-6 text-center">
          <h1 class="text-header text-style-header mb-2 text-3xl">
            Email Terkirim
          </h1>
          <p class="text-sm">
            Silakan periksa email Anda dan klik tautan untuk mengatur ulang kata
            sandi Anda
          </p>
        </div>
        <!-- header -->

        <div class="mb-4 flex items-center justify-center">
          <img
            src="icon/icon-sukses.svg"
            alt="icon kirim"
            class="h-44 sm:h-64"
          />
        </div>

        <a
          type="submit"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
          class="bg-gradient-2 btn-login btn-login-transition mb-2"
          href="/login"
        >
          Masuk
        </a>

        <div class="flex justify-center gap-2 text-sm">
          <p>Belum mendapatkan email?</p>
          <a href="/lupa-pass-1" class="text-primary-100 hover:font-bold"
            >Kirim Ulang</a
          >
        </div>
      </div>
      <%- include('layout/login-side') %>
    </div>
    <%- include('layout/login-footer') %>
  </body>
</html>
