<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/header') %>
    <title>Buat Sandi Baru</title>
  </head>
  <body class="debug-screens">
    <%- include('layout/login-header') %>

    <div
      class="font-montserrat relative grid h-screen grid-cols-1 items-center justify-center lg:grid-cols-3"
    >
      <div class="sizing-content col-span-2 mb-28 lg:mb-0">
        <!-- header -->
        <div class="mb-6 text-center">
          <h1 class="text-header text-style-header mb-2 text-3xl">
            Buat Kata Sandi Baru
          </h1>
          <p class="text-sm">
            Kata sandi baru anda harus berbeda dengan kata sandi yang digunakan
            sebelumnya
          </p>
        </div>
        <!-- header -->

        <form action="#" method="">
          <!-- Password input 1-->
          <div class="mb-4">
            <div class="font-montserrat form-floating relative w-full">
              <input
                type="password"
                class="transition-form form-control w-full rounded-xl border bg-green-50 text-black"
                placeholder="Masukkan Password"
                id="password-1"
              />
              <label for="floatingInput" class="text-gray-400"
                >Masukkan Password</label
              >
            </div>
          </div>

          <!-- Password input 2-->
          <div class="mb-8">
            <div class="font-montserrat form-floating relative w-full">
              <input
                type="password-2"
                class="transition-form form-control w-full rounded-xl border bg-green-50 text-black"
                placeholder="Masukkan Password"
                id="password"
              />
              <label for="floatingInput" class="text-gray-400"
                >Masukkan Password</label
              >
            </div>
          </div>

          <button
            type="submit"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            class="bg-gradient-2 btn-login btn-login-transition mb-2"
          >
            Reset Kata Sandi
          </button>
        </form>
      </div>
      <%- include('layout/login-side') %>
    </div>
    <%- include('layout/login-footer') %>
  </body>
</html>
