<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/header') %>
    <title>Register Page</title>
  </head>
  <body class="debug-screens">
    <%- include('layout/login-header') %>

    <div
      class="font-montserrat relative grid h-screen grid-cols-1 items-center justify-center lg:grid-cols-3"
    >
      <div class="sizing-content col-span-2 mb-28 lg:mb-0">
        <!-- header -->
        <div class="mb-6 text-center">
          <h1 class="text-header text-style-header mb-2 text-3xl sm:mb-4">
            Pilih Role Untuk Mendaftar
          </h1>
        </div>
        <!-- header -->

        <div class="grid-cols-2 items-end justify-center gap-6 md:grid">
          <!-- Participants -->
          <a
            class="mb-10 flex items-center justify-center sm:mb-0"
            data-bs-toggle="tooltip"
            title="Daftar Sebagai Participants untuk Mengikuti Lomba dan Event yang Menarik"
            href="/register-participant"
          >
            <div
              class="transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:font-bold"
            >
              <img
                src="icon/participants.svg"
                alt="icon kirim"
                class="mb-4 h-32 sm:h-44"
              />
              <h2 class="text-center text-xl capitalize">Participants</h2>
            </div>
          </a>
          <!-- EO -->
          <a
            class="flex items-center justify-center"
            data-bs-toggle="tooltip"
            title="Daftar Sebagai Event Organizer untuk membuat eventmu sendiri"
            href="/register-event-organizer"
          >
            <div
              class="transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:font-bold"
            >
              <img
                src="icon/event-organizer.svg"
                alt="icon kirim"
                class="mb-4 h-32 sm:h-44"
              />
              <h2 class="text-center text-xl capitalize">Event Organizer</h2>
            </div>
          </a>
        </div>
      </div>
      <%- include('layout/login-side') %>
    </div>
    <%- include('layout/login-footer') %>
  </body>
</html>
