<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
  <img
    class="animation__shake"
    src="/img/logo-admin.png"
    alt="AdminLTELogo"
    height="60"
    width="60"
  />
</div>

<!-- Navbar -->
<nav class="main-header navbar navbar-white navbar-expand navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="dropdown nav-item">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">15</span>
      </a>
      <div class="dropdown-menu-lg dropdown-menu-left dropdown-menu">
        <span class="dropdown-header dropdown-item">15 Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> 4 new messages
          <span class="text-muted float-right text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-users mr-2"></i> 8 friend requests
          <span class="text-muted float-right text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i> 3 new reports
          <span class="text-muted float-right text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-footer dropdown-item"
          >See All Notifications</a
        >
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="/img/logo-admin.png"
      alt="Lockét Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Lockét</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel d-flex mt-3 mb-3 pb-3">
      <div class="image">
        <img
          src="/img/logo EO.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="/dashboard-event-organizer" class="d-block"
          >Ufo Veteran Jakarta</a
        >
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-sidebar flex-column nav-pills"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/dashboard-event-organizer" class="nav__link nav-link">
            <i class="fa-solid fa-house"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/event-eo" class="nav__link nav-link">
            <i class="fa-solid fa-calendar"></i>
            <p>Event Saya</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/subscribers" class="nav__link nav-link">
            <i class="fa-solid fa-users"></i>
            <p>Subscribers</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/komentar" class="nav__link nav-link">
            <i class="fa-solid fa-comments"></i>
            <p>Komentar</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/pengaturan-akun" class="nav__link nav-link">
            <i class="fa-solid fa-gear"></i>
            <p>Pengaturan Akun</p>
          </a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn-logout-2 nav-link" id="logoutBtn">
            Keluarrr
          </button>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
